body {
    background-color: #000;    
    margin: 0;
    overflow: hidden;
    background-repeat: no-repeat;
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
  }
.alo {
    font-family: Comic Sans MS;
    color: #33ccff;
    position: absolute;
    top:345px;
    left:665px;
    font-size: 40px;
    display: inline-block;
}
.blo {
    font-family: Comic Sans MS;
    color: #ff99cc;
    position: absolute;
    top:345px;
    left:625px;
    font-size: 35px;
    display: inline-block;
}

