body {
    background-image: url("../image/minh.jpg");
    background-size: contain;
    background-repeat: none;
/*     background-color: #000;    
    margin: 0;
    overflow: hidden;
    background-repeat: no-repeat;
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%); */
  }
/* .blo {
    font-family: Comic Sans MS;
    color: #ff99cc;
    position: absolute;
    top:345px;
    left:625px;
    font-size: 35px;
    display: inline-block;
}
.clo {
    font-family: Comic Sans MS;
    color: #ff99cc;
    position: absolute;
    top:378px;
    left:903px;
    font-size: 6px;
    display: inline-block;
} */
